* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: Trebuchet MS, sans-serif;
    font-weight: 200;
}

#header {
    text-align: center;
    background: #4287f5;
    color: white;
    text-transform: uppercase;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
}

.header-large {
    font-size: 36px;
}

#first-small-header {
    padding-top: 5px;
}

#second-small-header {
    padding-bottom: 5px;
}

#options-bar {
    height: 14px;
    background-color: white;
    line-height: 8px;
    display: flex;
    justify-content: space-around;
}

.option {
    color: #4287f5;
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    height: 7px;
    line-height: 14px;
}

#new-colors-button {
    /* margin-left: 30%; */
}

#easy-mode-button {
    /* margin-left: 20%; */
}

.squares-container {
    display: flex;
    justify-content: space-around;
    margin: 3px;
}

#square-1 {
    background-color: red;
}

#square-2 {
    background-color: yellow;
}

#square-3 {
    background-color: green;
}

#square-4 {
    background-color: blue;
}

#square-5 {
    background-color: aqua;
}

#square-6 {
    background-color: purple;
}

.squares {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    float: left;
    margin: 3px;
}

.squares-container div {
    display: inline-block;
}

.squares-container:nth-child(odd) div {
    margin-bottom: 0;
}

.option {
    background-color: white;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .25s;
    transition: .25s;
}

.option:hover {
    background-color: #4287f5;
    color: white;
    height: 14px;
    padding-right: 2px;
    padding-left: 2px;
}

#response-span {
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
    height: 7px;
    line-height: 14px;
}